<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Asignacion de Personal</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <h3>Itinerario</h3> -->

  <ion-grid>
    <ion-row padding>
      <ion-col col-2><strong>Hora</strong></ion-col>
      <ion-col col-10><strong>Profesional Asignado</strong></ion-col>
    </ion-row>
    <ion-row *ngFor="let item of servicios">
      <ion-col col-2 text-center><strong>{{item.hora}}</strong></ion-col>
      <ion-col col-10>
        <ion-list>
          <ion-item *ngFor="let aux of item.professional">
            <ion-avatar item-start>
              <img src="https://clientea.com/media/avatar-7.png.pagespeed.ce.Jt7LtKXQj9.png">
            </ion-avatar>
            <h2>{{aux.nombre}}</h2>
            <p>{{aux.servicio}}</p>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
