<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Historico</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list *ngIf="!load">
        <ion-item *ngFor="let item of ventas">
          <ion-avatar item-start>
            <img src="http://www.golfgeardirect.co.uk/images/page/top-nav-l1-sale-1%20(1).png">
          </ion-avatar>
          <h2>$ {{item.valor | number}}</h2>
          <p>{{item.fecha}}</p>
          <p>{{item.descripcion}}</p>
        </ion-item>
      </ion-list>
</ion-content>
